.main {
    width: 1000px;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.articleHeader {
    text-align: center;
}

#restHeader{
    text-align: center;
}

div.list{
    width: 300px;
    position: fixed;
    right: 0;
    top: 117px;
    border-style: groove;
}

.dollarAmount{
    margin-top: -20px;
}

div.container { 
    text-align: center;
    padding: 10px 20px;
}


div.polaroid {
    margin: auto;
    max-width: 35.4%;
    height: auto;
    text-align: center;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* resize images */
.polaroid img {
    width: 100%; 
    height: auto;
}