body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.articleHeader {
    text-align: center;
}

#restHeader{
    text-align: center;
}

div.list{
    width: 300px;
    position: fixed;
    right: 0;
    top: 117px;
    border-style: groove;
}

.dollarAmount{
    margin-top: -20px;
}

div.container { 
    text-align: center;
    padding: 10px 20px;
}


div.polaroid {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* resize images */
.polaroid img {
    width: 450px; 
    height: auto;
    border-radius: 20px;
}


#circleImage {
border-radius: 20px;
} 